<style type="text/css">
    body {
        font-family: Calibri, Tahoma, Arial, 'Helvetica Neue', Helvetica, Sans-Serif;
        color: #232323;
        font-size: 12px;
    }
</style>

<div id="corpo" style="border: 1px solid #c9302c">
    <div id="topo" style="font-weight: bold; color: #fff; padding: 15px 18px; text-align: left; font-size: 16px; background-color: #c9302c">Clínica Dra. Cláudia Bertha</div>
    <div style="padding-left: 20px;">
        <p>Olá, #NOME_PACIENTE#.</p>
        <p>Você fez um agendamento de uma consulta conosco.</p>
        <p>Sua consulta foi cancelada e os detalhes seguem abaixo:</p>
        <p><b>Nome</b>: #NOME_PACIENTE#</p>
        <p><b>Data/Hora Consulta</b>: #DATA_CONSULTA#</p>
        <p><b>Motivo Cancelamento</b>: #MOTIVO#</p>
        <p>Para agendar uma nova consulta, <a href="www.clinicadraclaudiabertha.com.br/AgendarConsulta" target="_blank">clique aqui</a>.</p>
        <p>Quaisquer dúvidas, acesse <a href="www.clinicadraclaudiabertha.com.br" target="_blank">www.clinicadraclaudiabertha.com.br</a>.</p>
    </div>
</div>